<template>
  <div>
    <notifications group="app" position="top center"/>
    <modal name="error-modal" v-show="showModal"
      :classes="['v--modal', 'error-modal', hasErr && 'has-bugs']"
      :pivot-y="0.2"
      :width="400"
      :height="210"
      @before-close="beforeClose">
      <div class="error-modal-content">
        <div class="bugs-label">Please enter account address</div>
        <input v-model="address"type="text" style="width:90%"></input><p/>
        <button style="align:center;width:50px"@click="getAccount">OK</button></p>
        <sub :style="{opacity: hasErr ? 1 : 0}">
            Please enter a valid address
        </sub>
      </div>
    </modal>
    <h1>{{ msg }}</h1><p/>
    <h3>Balance of {{ address }} : {{ balance }}</h3>
    <div align="left" style="marginLeft:25%">
        <h3>Enter your transaction details</h3>
        <input v-model="recipient" placeholder="Recipient address" type="text" style="width:50%;"><p/>
        <input v-model="transc_amount" placeholder="Transaction amount" type="number" @input="updateFee">
        <label style="margin-left: 5px;">fee</label>
        <input style="margin-left: 5px;width:100px;backgroundColor:yellow;" readonly v-model="fee"></input><p/>
        <input v-model="message" placeholder="message" type="text" style="width:50%"></p>        
        <input v-model="private_k" placeholder="private key" type="password" style="width:50%"><p/>
        <button v-on:click="send_t">Send</button>
    </div>
    <div>
    </div>
  </div>
</template>
<script>
import nem from 'nem-sdk';

export default {
  data() {
    return {
      msg: 'Welcome to Your Vue.js App',
      recipient: null,
      address: null,
      balance: null,
      private_k: null,
      transc_amount: null,
      hasErr: false,
      noAccount: true,
      message: null,
      fee: null,
      transferTransaction: nem.model.objects.get('transferTransaction'),
      common: nem.model.objects.get('common'),
    };
  },
  methods: {
    showNotif(title, content, type) {
      this.$notify({
        group: 'app',
        title: title,
        text: content,
        type: type,
      });
    },
    getAccount() {
      const cleanedAddress = nem.model.address.clean(this.address);
      nem.com.requests.account.data(
        nem.model.objects.create('endpoint')('https://adamexperimental.cyberblox.my', 7891),
        cleanedAddress,
      ).then((res) => {
        console.log(res);
        this.balance = `${new Intl.NumberFormat('en-US').format(res.account.balance / 1000000)} XEM`;
        this.noAccount = false;
        this.$modal.hide('error-modal');
        this.ConnectWS();
      }, (err) => {
        this.hasErr = true;
      });
    },
    beforeClose(event) {
      if (this.noAccount) {
        event.stop();
      }
    },
    updateFee(event) {
      const transactionEntity = nem.model.transactions.prepare('transferTransaction')(this.common, this.transferTransaction, nem.model.network.data.testnet.id);
      this.fee = `${nem.utils.format.nemValue(transactionEntity.fee)[0]}.${nem.utils.format.nemValue(transactionEntity.fee)[1]}`;
    },
    send_t() {
      if (this.private_k === null || this.recipient === null) return this.showNotif('Error', 'Missing parameter !', 'error');
      if (this.transc_amount === null || !nem.utils.helpers.isTextAmountValid(this.transc_amount)) return this.showNotif('Error', 'Invalid amount !', 'error');
      const cleanedAddress = nem.model.address.clean(this.recipient);
      if (!nem.model.address.isValid(cleanedAddress)) return this.showNotif('Error', 'Invalid recipient address !', 'error');
      const endpoint = nem.model.objects.create('endpoint')(nem.model.nodes.defaultTestnet, nem.model.nodes.defaultPort);
      this.common.privateKey = this.private_k;
      if (this.common.privateKey.length !== 64 && this.common.privateKey.length !== 66) return this.showNotif('Error', 'Invalid private key, length must be 64 or 66 characters !', 'error');
      if (!nem.utils.helpers.isHexadecimal(this.common.privateKey)) return this.showNotif('Error', 'Private key must be hexadecimal only !', 'error');
      this.transferTransaction.amount = nem.utils.helpers.cleanTextAmount(this.transc_amount);
      this.transferTransaction.recipient = nem.model.address.clean(this.recipient);
      if (this.message === null) return this.showNotif('Error', 'Message must be provided !', 'error');
      this.transferTransaction.message = this.message;
      const transactionEntity = nem.model.transactions.prepare('transferTransaction')(this.common, this.transferTransaction, nem.model.network.data.testnet.id);
      return nem.model.transactions.send(this.common, transactionEntity, endpoint).then((res) => {
        if (res.code >= 2) {
          console.log(JSON.stringify(res));
          return this.showNotif('Transacton Failed', res.message, 'error');
        }
        return this.showNotif('Transacton Success', res.message, 'success');
      }, (err) => {
        return this.showNotif('Transacton Failed2', 'Please check console for more details', 'error');
      });
    },
    ConnectWS() {
      const endpoint = nem.model.objects.create('endpoint')(nem.model.nodes.defaultTestnet, nem.model.nodes.websocketPort);
      const WSConn = nem.com.websockets.connector.create(endpoint, this.address);
      WSConn.connect().then(() => {
        nem.com.websockets.subscribe.errors(WSConn, (res) => {
          console.log(JSON.stringify(res));
          this.showNotif('Connection Failed', 'Oops something wrong, please check console', 'error');
        });
        nem.com.websockets.subscribe.account.transactions.confirmed(WSConn, (res) => {
          console.log(JSON.stringify(res));
          this.showNotif('Transaction', 'Transaction has been confirmed', 'success');
        });
      }, (err) => {
        console.log(JSON.stringify(err));
        this.showNotif('Connection Failed', 'Oops something wrong, please check console', 'error');
      });
    },
    showModal() {
      this.$modal.show('error-modal');
    },
  },
  created() {
  },
  mounted: function () {
    this.$nextTick(() => {
      if (this.address == null) {
        this.showModal();
      }
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
<style lang="scss" scoped>
.error-modal {
  transition: box-shadow 1s;
  &.has-bugs {
    box-shadow: 0 24px 80px -2px rgba(255, 0, 0, .6) !important;
  }
}
.error-modal-content {
  padding: 10px;
  text-align: center;
  .bugs-label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 40px;
  }
  button {
    width: 180px;
  }
  sub {
    color: #EC625F;
    transition: opacity 0.25s;
  }
}
</style>